*
{
    margin:0;
    padding: 0;
}
.navbar{
    position:fixed;
    height:50px;
    width:100%;
}
.subnavbar1{
    float: left;
    background:linear-gradient(to bottom, #180f24 0%, #231b47 50%);
    height:50px;
    width:25%;
}
.subnavbar1a{
    float: left;
    margin-left:5px;
    height:40px;
    width:10%;   
    }
    .subnavbar1a:hover{
    cursor:pointer;
    background:#ff6600;
    border-radius: 50%;
    }
  
    .subnavbar1a:active{
        position:relative;
    animation-name: mymove;
    animation-duration:.1s;
    cursor:pointer;
    }
   @keyframes mymove {
          from{bottom:0px;}
          to{top:10px;}
    }

.subnavbar2{
    float: left;
    background:linear-gradient(to bottom, #180f24 0%,#231b47 50%);
    height:50px;
    width:25%;
}
.subnavbar3{
    float: left;
    background:linear-gradient(to bottom, #180f24 0%, #231b47 50%);
    height:50px;
    width:25%;
}
.subnavbar4{
    float: left;
    background:linear-gradient(to bottom, #180f24 0%, #231b47 50%);
    height:50px;
    width:12.5%;
    
   
}

.subnavbar4a{
    float: left;
    background:  linear-gradient(to bottom, #180f24 0%, #231b47 50%);
    height:50px;
    width:25%;
  }
  .subnavbar4a:hover{
    cursor:pointer;
    background:#ff6600;
    border-radius: 50%;
   
    }
    .subnavbar4a:active{
        position:relative;
    animation-name: mymove;
    animation-duration:.1s;
    cursor:pointer;
    }
   @keyframes mymove {
          from{bottom:0px;}
          to{top:10px;}
    }


.subnavbar4b{
    float: left;
    background : linear-gradient(to bottom, #180f24 0%, #231b47 50%);
    height:40px;
    width:75%;
    color:white;
    text-align: center;
    font-size: 1.5vw;
    padding-top:10px;
  
}

.subnavbar5{
    float: left;
    background:linear-gradient(to bottom, #180f24 0%,#231b47 50%);
    height:50px;
    width:12.5%;
}
.menubar{
    background:#231b47;
    height:40px;
    width:100%;
    
}
.totalbottonarea{
    height:40px;
    width:500px;
    position:fixed;
    margin-left:32.7%;
    margin-top: 2%;
  
   
 
} 


 .bottonarea1{
    float:left;
    height:37px;
    width:100px;
    background:#ff6600;
    transition: all 0.3s ease-in-out;
    border-radius: 25px;
    color: white;
    text-align:center;
    padding-top:3px;
   
 } 
 .bottonarea1:hover{
    
    transform: scale(1.05);
    font-weight: bold;
    position:relative;
    cursor:pointer;

 }

.bottonarea1:active{
    background:linear-gradient(to bottom, #231b47 0%, #ff6600 90% );
    position:relative;
    animation-name: mymove;
    animation-duration:.1s;
    cursor: pointer;

 }
 @keyframes mymove {
 from {bottom: 0px;}
 to {top:10px;}
}
.fixlogo{
    height:6%;
    width:3%;
    border-radius:50%;
    background:#ff6600;
    position:fixed;
    float:right;
    bottom:0%;
    right:0%;
    transition: all 0.3s ease-in-out; 
}

.fixlogo:hover{
    
    transform: scale(1.05);
}
.main{
background:linear-gradient(to bottom, #231b47  0%, #180f24 100%);
height:150px;
width:100%;

}

.text{
float: left;  
height:100px;
width:100%;
text-align: center;
font-size: 2vw;
color: white;
padding-top:50px;

}
.photo{
background:#180f24;
height:350px;
width:100%;

}
.photo1{
background-image:url("images/banner4.png");
height:100%;
width:100%;
background-repeat: no-repeat;
background-size:cover;
}

.content{
   
    height:700px;
    width:100%;
    
}
#subcontentborder{
    
    height:390px;
    width:410px;
    margin-left:130px;
    margin-top:150px;
    border-radius:10%;
    background-color:rgb(237, 230, 230);
    padding-top:3px;
    padding-left:10px;
    transition: all 0.3s ease-in-out;
    
    }
    #subcontentborder:hover{
        border-radius:7%;
        height:560px;
        width:410px;
        margin-left:130px;
        margin-top:50px;
        transform: scale(1.05);
        
    } 
    .totalboxarea{
        
        width:400px;
        height:550px;
        color:black;
        cursor: pointer;
    }
    .totalboxarea:hover .boxarea{
        display:block;
      
    }
    .imagearea{
        width:400px;
        height:300px;  
    }
    .image{
        width:395px;
        height:300px; 
        cursor: pointer;
        transition: all 0.3s ease-in-out; 
        border-radius: 10%;
    }
    .image:hover{
        width:400px;
        transform: scale(1.05);
    }
    .boxarea{
        width:395px;
        height:150px;
        display:none;
        
       
    }
    .boxarea1{
        height:300px;
        width:395px;
        margin-top: 3%;
    }
    
    .questionbutton{
        height:30px;
        width:130px;
        border-radius:25px;
        color:white;
        background:#ff6600;
        margin-top:10px;
        margin-left:115px;
        transition: all 0.3s ease-in-out;
    }
    .questionbutton:hover{
        
        height:30px;
        font-weight: bold;
        position:relative;
        cursor:pointer;
        transform: scale(1.05);
    }
    .questionbutton:active{
        background:linear-gradient(to bottom, #231b47 0%, #ff6600 90% );
        position:relative;
        animation-name: mymove;
        animation-duration:.1s;
        cursor: pointer;
    
     }
     @keyframes mymove {
     from {bottom: 0px;}
     to {top:10px;}
    }  
.subcontent1{
    float:left;
    height:700px;
    width:50%;
    background:rgb(244, 240, 240);
    
}

.resultbutton{
    height:30px; 
    width:130px;
    border-radius:25px;
    color:white;
    background:#ff6600;
    margin-top:10px;
    margin-left:125px;
    transition: all 0.3s ease-in-out;
}
.resultbutton:hover{
    
    height:30px;
    font-weight: bold;
    position:relative;
    cursor:pointer;
    transform: scale(1.05);
}
.resultbutton:active{
    background:linear-gradient(to bottom, #231b47 0%, #ff6600 90% );
    position:relative;
    animation-name: mymove;
    animation-duration:.1s;
    cursor: pointer;

 }
 @keyframes mymove {
 from {bottom: 0px;}
 to {top:10px;}
}  
.subcontent2{
    float:left;
    height:700px;
    width:50%;
    background:rgb(244, 240, 240);
}
.content1{
    height:300px;
    width:100%;
    color:white;
    background:linear-gradient(to bottom, #231b47 30%, #231b47 100%);
}



.footer{
height:30px;
width: 100%;
margin-top:1.5px;
}
.footer1{
float: left;
background-color:black ;
height:30px;
width: 33.33%;
}
.footer2{
float: left;
background-color:black ;
height:30px;
width: 33.33%;
text-align: center; 
}


.footer3{
float: left;
background-color:black ;
height:30px;
width: 33.33%;
text-align: right; 

}

